  // Suisse
@font-face {
  font-family: "Suisse-L";
  src: url($font-path + "SuisseIntl-Light.otf");
}
@font-face {
  font-family: "Suisse-R";
  src: url($font-path + "SuisseIntl-Regular.otf");
}
@font-face {
  font-family: "Suisse-M";
  src: url($font-path + "SuisseIntl-Medium.ttf");
}
@font-face {
  font-family: "Suisse-SB";
  src: url($font-path + "SuisseIntl-SemiBold.ttf");
}
@font-face {
  font-family: "Suisse-B";
  src: url($font-path + "SuisseIntl-Bold.otf");
}
