@media (min-width: 992px) {

}



@media (min-width: 1700px) {
  .large-container{
    max-width: 1635px;
  }
}



@media (max-width:1650px){

  .know-Mecca {
    background-position: 120% 98%;
    .content-box {
      h4{
        margin-bottom: 50px;
      }
    }
    .numbers-sec{
      width: 750px;
      height: 140px;
      gap: 45px;
      h4{
        font-size: 25px;
        padding-#{$end-direction}: 40px;
      }
      .number-container{
        gap: 75px;
        .numb-card {
          .numb{
            font-size: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }

  .events-activities .tab-content .content-card {
    .img-box{
      width: 45%;
      height: 335px;
      flex: 0 0 auto;
    }
  }

  .Tourist-Experiences .tab-content .content-card {
    .img-box{
      height: 350px;
    }
  }

  .Mecca-landmarks .tab-content .content-card {
    .img-box{
      height: 370px;
    }
  }

  .pageTitle {
    height: 130px;
  
  
    h2{
      font-size: 30px;
      padding-top: 50px;
    }
  }
  .on-pos {
    .content-box {
      h3 {
        font-size: 30px;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .about-know{
    background-position: calc(100% + 225px) bottom;
  }
  .importance{
    background-position: calc(0% - 260px) 75%;
  }
  .heritage{
    background-position: calc(100% + 250px) center;
  }


  .culture-det:before{
    background-position: calc(100% + 250px) 85%;
  }
  .culture-imgs{
    .img-box-grp {
      .first-img{
        height: 600px;
      }
      .imgs-grp div {
        height: 280px;
      }
    }
  }



  .details-banner {
    .page-title {
      font-size: 40px;
    }
    .img-box{
      height: 500px;
    }
    .det-area{
      padding-top: 70px;
      .content-box {
        h3{
          font-size: 35px;
          margin-bottom: 30px;      
        }
        p{
          font-size: 16px;
        }
      }
      .details-box {
        h4{
          font-size: 20px;
          margin-bottom: 25px;
        }
        .date {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .details-album {
    h3{
      font-size: 35px;
      margin-bottom: 50px;
    }
  }
  .events-list {
    .main-data {
      .main-title{
        font-size: 35px;
      }
    }
    .ev-card {
      padding-bottom: 20px;
      height: auto;
      .img-box{
        height: 275px;
      }
      .details-box {
        gap: 20px;
        padding-bottom: 15px;
        .date{
          font-size: 16px;
        }
        .title{
          font-size: 20px;
        }
      }
    }
  }

  .List-banner .first-sec .content-box h3{
    font-size: 55px;
  }
  .bgGrey-withImg{
    background-position: calc(100% + 275px) 32%, calc(0% - 275px) 77%;
  }

  .way:before{
    background-position: calc(100% + 300px) 85%;
  }
  .arrive:before{
    background-position: calc(0% - 275px) 85%;
  }

  .nature:before{
    background-position: calc(100% + 275px) bottom;
  }
  .geo{
    background-position: calc(0% - 275px) 130%;
  }


  .ourNumbers-details:before{
    background-position: calc(100% + 275px) 90%;
  }

  .bgGrey-withImg2:before{
    background-position: calc(100% + 275px) 31%;
  }
}
@media (max-width: 1400px) {
  .homeHeader .homeSwiper .boxHomeSlide h2 {
    font-size: 50px;
  }
  footer .footer-links ul{
    gap: 80px;
  }
  
 
  .culture-imgs{
    .img-box-grp {
      .first-img{
        height: 400px;
      }
      .imgs-grp {
        margin-top: 25px;
        div {
          height: 175px;
        }
      }
    }
  }
  .details-banner .det-area .details-box .ev-map{
    width: auto;
  }


  .List-banner .first-sec .content-box h3 {
    font-size: 45px;
  }
  .bgGrey-withImg::before{
    height: 5%;
  }

  .ourNumbers-cards .number-card .cont-box .numb {
    font-size: 55px;
  }
  .ourNumbers-cards .number-card{
    gap: 25px;
  }

  .design-yours .designYours-card .content-box h4 {
    font-size: 30px;
  }
  .design-yours .designYours-card .content-box p {
    font-size: 16px;
  }
  .design-yours .designYours-card .sign .mail-form input{
    height: 50px;
    font-size: 16px;
  }
  .design-yours .designYours-card .sign .mail-form .signHere {
    width: 110px;
    height: 50px;
    font-size: 16px;
  }



}
@media (max-width: 1199.98px) {
  .know-Mecca {
    background-position: 130% 98%;

    .img-box{
      height: 600px;
    }
    .content-box{
      padding-#{$end-direction}: 40px;

      h4 {
        margin-bottom: 30px;
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
      p + p {
        margin-top: 20px;
      }

    }
    .numbers-sec{
      margin-top: 40px;
      width: 660px;
      gap: 35px;
      padding: 30px;
    }

  }

  .weather {
    padding: 70px 0;
    .img-box{
      max-height: 580px;
    }
    .content-box{
      padding-#{$start-direction}: 50px;
      h4{
        font-size: 30px;
        margin-bottom: 30px;
      }
      p{
        font-size: 16px;
      }
      .more{
        margin-top: 30px;
        a{
          span{
            font-size: 16px;
          }
        }
      }
    }
  }


  .events-activities ,
  .Tourist-Experiences ,
  .Mecca-landmarks{
    padding: 70px 0;
    .main-title{
      font-size: 30px;
      margin-bottom: 30px;
    }
    p{
      font-size: 16px;
    }
    .more{
      a{
        span{
          font-size: 16px;
        }
      }
    }
  }
  

  .on-pos {
    padding-bottom: 80px;
    background-size: 300px;
    .content-box{
      padding-#{$end-direction}: 40px;
    }

    &.rev-pos{
      .content-box{
        padding-#{$end-direction}: 0;
        padding-#{$start-direction}: 40px;
      }
    }
  }
  .about-know {
    .img-box-grp .imgs-grp div {
      height: 110px;
    }
    .content-box h3 {
      margin-top: -90px;
    }
  }
  .heritage{
    padding-top: 80px;
  }



  .details-banner .page-title {
    font-size: 35px;
  }
  .details-banner .det-area .content-box h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .details-banner .det-area .details-box {
    padding-#{$start-direction}: 80px;
  }
 
  .details-album h3,
  .events-list .main-data .main-title{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .events-list .ev-card .details-box{
    padding: 0 15px;
    padding-bottom: 20px;
    gap: 15px;
  }
  .events-list .ev-card .details-box .title {
    font-size: 18px;
  }


  .details-banner .det-area .details-box .with-list .act-list ul li {
    font-size: 16px;
  }
  ul.list-with-numbers li {
    font-size: 16px;
  }
  ul.list-with-numbers{
    padding: 0;
  }


  .List-banner .first-sec .content-box h3 span{
    font-size: 18px;
  }
  .List-banner .first-sec .content-box h3 {
    font-size: 35px;
  }
  .List-banner .first-sec .content-box p{
    font-size: 16px;
  }
  .List-banner .first-sec .img-box{
    filter: blur(0px) brightness(0.7);
  }
  .on-pos .content-box h3{
    margin-bottom: 15px;
  }

  .nature:before {
    background-position: calc(100% + 300px) bottom;
  }


  .ourNumbers-details:before {
    background-position: calc(100% + 300px) 90%;
  }
  .ourNumbers-cards .number-card .cont-box .numb {
    font-size: 45px;
  }


  .bgGrey-withImg2:before {
    background-position: calc(100% + 300px) 31%;
  }
  .design-yours .designYours-card .content-box{
    margin-#{$start-direction}: 45px;
    max-width: 90%;
    min-height: 400px;
  }
  .design-yours .designYours-card .sign{
    min-height: 400px;
  }
  .details-banner.Landmarks-det .img-box .landMark-det .swiper-slide .content-card{
    height: 115px;
  }
  .details-banner.Landmarks-det .img-box .landMark-det .swiper-button-prev, .details-banner.Landmarks-det .img-box .landMark-det .swiper-button-next {
    width: 40px;
    height: 40px;
  }
  .details-banner.Landmarks-det .img-box .landMark-det .swiper-button-next {
    #{$end-direction}: 5%;
  }
  .details-banner.Landmarks-det .img-box .landMark-det .swiper-button-prev {
    #{$start-direction}: 5%;
  }
}



@media (max-width: 991px) {
 
  .homeHeader,
  .footer {
    overflow: hidden;
  }
  .homeHeader,
  .homeHeader .bg-video-wrap,
  .homeHeader .overlay,
  .homeHeader .bg-video-wrap {
    max-height: 650px;
  }

  .homeHeader video{
    min-height: 100%;
  }
 
  .homeHeader .homeSwiper .boxHomeSlide{
    h2{
      font-size: 35px;
      line-height: 1;
      margin-bottom: 20px;
    }
    h4{
      font-size: 18px;
      margin-bottom: 15px;
    }
    p{
       font-size: 16px;
       margin-bottom: 15px;
     }
     .read-more {
      span{
        font-size: 16px;
      }
      .arrow-box{
        width: 40px;
        height: 40px;
      }
     }
  }

  .know-Mecca{
    padding: 60px 0;
    .content-box{
      margin: 0;
      margin-bottom: 20px;
      padding: 0;

      p + p{
        margin-top: 10px;
      }
    }
    .numbers-sec{
      position: relative;
      margin-top: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .weather {
    .content-box{
      padding: 0;
      margin-top: 20px;
    }
  }
  footer .footer-links ul {
    gap: 30px;
    justify-content: space-around;
  }



  .about-know {
    .img-box-grp .imgs-grp div {
      height: 110px;
    }
    .content-box{
      h3 {
        margin-top: 0;
      }
      
    }
  }

  .on-pos {
    .content-box{
      padding: 0;
      margin-bottom: 30px;
      justify-content: flex-start;
      h3{
        margin-bottom: 20px;
      }
    }
    &.rev-pos{
      .content-box{
        padding: 0;
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
  }


  .culture-imgs{
    .img-box-grp {
      .first-img{
        height: 400px;
      }
      .imgs-grp {
        margin-top: 20px;
        div {
          height: 125px;
        }
      }
    }
  }



  .details-banner .page-title{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .details-banner .img-box {
    height: auto;
  }
  .details-banner::before{
    height: 75%;
  }
  .details-banner .det-area{
    padding-top: 40px;
  }
  .details-banner .det-area .content-box h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .details-banner .det-area .content-box p {
    font-size: 14px;
  }
  .details-banner .det-area .details-box{
    padding-#{$start-direction}: 0;
    margin-top: 20px;
  }
  .details-banner .det-area .details-box .location{
    max-width: 100%;
  }
  .details-album h3, .events-list .main-data .main-title{
    font-size: 25px;
  }
  .details-album{
    .col-lg-4{
      .img-box{
        height: 300px;
      }
    }
    .col-lg-12{
        .img-box{
          height: 350px;
      }
    }
  }
  .events-list.tours-list .ev-card .details-box .title{
    font-size: 18px;
  }
  .events-list.tours-list .ev-card .details-box .time {
    font-size: 16px;
  }
  .events-list.tours-list .ev-card .details-box .details {
    font-size: 14px;
  }
  .details-banner .det-area .details-box .with-list h4 {
    font-size: 20px;
  }
  .details-banner .det-area .details-box .with-list .act-list ul {
    padding-#{$start-direction}: 25px;
    padding-#{$end-direction}: 0;
  }
  .details-banner .det-area .details-box .with-list .act-list ul li {
    font-size: 14px;
  }
  .toursListItems-with-img .img-box{
    margin: 0;
    margin-bottom: 20px;
  }
  .toursListItems-with-img h4 {
    font-size: 20px;
  }
  ul.list-with-numbers{
    padding: 0;
  }
  ul.list-with-numbers li::before {
    width: 40px;
    height: 40px;
  }
  ul.list-with-numbers li{
    font-size: 14px;
  }

  .List-banner .first-sec{
    padding: 25px 40px;
  }
  .events-sec .img-box{
    padding: 0;
    margin-bottom: 20px;
  }
  .activities-sec .img-box{
    padding: 0;
    margin-top: 20px;
  }
  .bgGrey-withImg {
    background-position: calc(100% + 275px) 10%, calc(0% - 275px) 77%;
  }

  .way .content-box h3 span, .arrive .content-box h3 span{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .way .img-box{
    padding: 0;
  }
  .arrive .img-box{
    padding: 0;
    margin-bottom: 20px;
  }
  .map-sec .mapFrom{
    height: 450px;
  }

  .geo {
    background-position: calc(0% - 275px) bottom;
  }
  .on-pos.two-sections .first-sec .img-box,
  .on-pos.two-sections .second-sec .img-box{
    padding: 0;
  }
  .on-pos.two-sections .second-sec {
    margin-top: 75px;
  }

  .on-pos.two-sections .first-sec .content-box,
  .on-pos.two-sections .second-sec .content-box{
    padding: 0 ;
  }
  .challenges{
    margin-bottom: 75px;
    background-position: calc(100% + 245px) 27%, calc(0% - 246px) 75%;
  }

  .ourNumbers-cards .number-card {
    margin-bottom: 30px;
    height: auto;
  }
  .ourNumbers-cards .number-card .cont-box .numb {
    font-size: 40px;
  }


  .details-banner .pageSecond-title {
    font-size: 16px;
  }
  .details-banner.Landmarks-det .img-box .landMark-det{
    max-width: 500px;
    bottom: 15px;
  }
  .details-banner.Landmarks-det .img-box .landMark-det .swiper-slide .content-card {
    height: 85px;
  }
}


@media (max-width: 767.98px) {
  .homeHeader .homeSwiper .boxHomeSlide{
    h2 {
      font-size: 30px;
    }
    h4{
      font-size: 16px;
    }
    p{
      font-size: 14px;
      line-height: 25px;
    }
    .read-more {
      span{
        font-size: 14px;
      }
    }
  }
  .know-Mecca{
    .img-box{
      height: auto;
    }
    .content-box {
      h4{
        margin-bottom: 20px;
        font-size: 25px;
      }
      p{
        font-size: 14px;
        line-height: 25px;
      }
    }
    .numbers-sec{
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 15px;
      h4{
        width: 100%;
        padding: 0;
        padding-bottom: 15px;
        span{
          display: inline-block;
        }
        &::after{
          width: 50%;
          height: 1px;
          top: auto;
          bottom: 0;
          transform: translateX(50%);
        }
      }
      .number-container{
        gap: 40px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        .numb-card{
          .numb{
            font-size: 35px;
            line-height: 35px;
          }
          .title{
            margin-top: 10px;
          }
        }
      }
    }
  }

  .weather {
    .img-box{
      height: auto;
    }
    .content-box {
      h4{
        margin-bottom: 20px;
        font-size: 25px;
      }
      p{
        font-size: 14px;
        line-height: 25px;
      }
      .more {
        margin-top: 0;
        a {
          span{
            font-size: 14px;
          }
          img{
            width: 13px;
          }
        }
      }
    }
  }


  .events-activities ,
  .Tourist-Experiences ,
  .Mecca-landmarks{
    .main-title{
      margin-bottom: 20px;
      font-size: 25px;
    }
    p{
      font-size: 14px;
      line-height: 25px;
    }
    .more {
      a {
        span{
          font-size: 14px;
        }
      }
    }
    .home-tabs {
        margin-bottom: 30px;
        .nav .nav-item .nav-link{
        font-size: 14px !important;
      }
    }

  }

  .Tourist-Experiences .more{
    margin-top: 0;
  }


  footer {
    padding-top: 35px;
    padding-bottom: 15px;
    .footer-social{
      margin-top: 30px;
      margin-bottom: 20px;  
    }
    .footer-logos{
      margin-bottom: 20px;
    }
    .footer-links ul{
      gap: 15px;
      justify-content: space-between;
      li{
        a{
          font-size: 14px;
        }
      }
    }
    .copyRights{
      font-size: 14px;
    }
    .update{
      margin: 0;
    }
  }

  .pageTitle {
    height: 90px;
    h2{
      font-size: 25px;
      padding-top: 30px;
    }
  }

  .on-pos {
    .content-box{
      h3{
       font-size: 25px;
       margin-bottom: 15px;
      }
      p{
        font-size: 14px;
        line-height: 25px;
      }
    }
  }


  .culture-imgs{
    .img-box-grp {
      .first-img{
        height: 300px;
      }
      .imgs-grp {
        div {
          height: 100px;
        }
      }
    }
  }

  .breadcrumb .items li a{
    padding-#{$end-direction}: 20px;
    &::after{
      #{$end-direction}: 6px;
    }
  }


  .List-banner .first-sec {
    padding: 50px 40px;
    height: auto;
  }
  .List-banner .first-sec .content-box h3 {
    font-size: 30px;
  }
  .List-banner .first-sec .content-box h3 span {
    font-size: 16px;
  }
  .List-banner .first-sec .content-box p {
    font-size: 14px;
  }

  .bgGrey-withImg {
    background-position: calc(100% + 150px) 10%, calc(0% - 150px) 77%;
    background-size: 50%;
  }

  .events-list .home-tabs .nav .nav-item .nav-link{
    font-size: 14px;
  }
  .events-list .home-tabs .nav .nav-item .nav-link.active{
    font-size: 14px;
  }
  .events-list .home-tabs .nav{
    gap: 5px;
    flex-wrap: wrap;
  }
  .events-list .ev-card .details-box .date {
    font-size: 14px;
  }
  .map-sec .mapFrom {
    height: 350px;
  }


  .details-banner .img-box img{
    width: 100%;
    height: calc(100% - 100px);
    border-radius: 12px;
  }
  .details-banner.Landmarks-det .img-box .landMark-det{
    position: relative;
    margin-top: 30px;
  }
  .events-activities .swiper{
    margin-#{$start-direction}: 0;
  }
}


@media (max-width: 574.98px) {
 .navigation-conatiner .top_nav .row .col-6{
  width: 100%;
 }
 .navbar{
  padding: 15px 0 !important;
 }
 .reverse-nav{
  flex-direction: column;
  padding: 0;
  padding-top: 15px;
  gap: 0;
  .dropdown-menu{
    width: 100%;
    .dropdown-item{
      padding: 5px 20px !important;
    }
  }
 }

 footer {
  .footer-links ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 30px;
  }
  .footer-social{
    flex-direction: column;
    .phone{
      margin: 0 ;
      margin-bottom: 10px;
    }
  }
  .footer-logos{
    flex-direction: column;
    gap: 5px;
  }




}
.events-activities {
  .tab-content{
    .content-card {
      flex-direction: column ;
      .img-box{
        height: 260px;
        width: 100% ;
      }
      .content-box {
        padding: 20px;
        gap: 10px;
        h4{
          font-size: 18px;
          margin: 0;
        }
        p.details {
          font-size: 14px ;
        }
        .date {
          .date-cont {
            div {
              p{
                display: inline-block;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .swiper-button-prev,.swiper-rtl .swiper-button-next{
    top: 45%;
    width: 40px;
    height: 40px;
    &::after{
      background-size: contain;
    }
  }
}



.Tourist-Experiences {
  .tab-content{
    .content-card {
      flex-direction: column ;
      .img-box{
        height: 260px;
        width: 100% ;
      }
      .content-box {
        padding: 20px;
        gap: 10px;
        h4{
          margin: 0;
          font-size: 18px;
        }
        p.details {
          font-size: 14px ;
        }
        p.date {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
  .swiper-button-prev,.swiper-rtl .swiper-button-next{
    top: 44%;
    width: 40px;
    height: 40px;
    &::after{
      background-size: contain;
    }
  }
}

.Mecca-landmarks .tab-content .content-card {
  .img-box {
    height: 270px;
  }
  .content-box{
    margin-top: 5px;
  }
}



  .culture-imgs{
    .img-box-grp {
      .first-img{
        height: auto;
      }
      .imgs-grp {
        margin-top: 15px;
        div {
          height: 80px;
        }
      }
    }
  }


  .challenges {
    background-position: calc(100% + 250px) 6%, calc(0% - 255px) 99%;
  }

  .design-yours .designYours-card .content-box{
    margin: 0;
    max-width: 100%;
    padding: 30px 20px;
  }
  .design-yours .designYours-card .content-box h4 {
    font-size: 25px;
  }
  .design-yours .designYours-card .content-box p {
    font-size: 14px;
  }
  .design-yours .designYours-card .sign {
    min-height: auto;
    padding: 50px 20px;
  }
  .design-yours .designYours-card .sign h4 {
    font-size: 20px;
    margin-bottom: 15px;
}
  .design-yours .designYours-card .sign .mail-form input{
    font-size: 14px;
    padding: 10px 20px;
    padding-#{$end-direction}: 25%;
  }
  .design-yours .designYours-card .sign .mail-form .signHere{
    font-size: 14px;
    width: 90px;
  }


  .navigation-conatiner::before {
    font-size: 10px;
    letter-spacing: inherit;
    top: 100px;
    right: 220px;
    width: 75px;
    padding: 3px 5px 5px;
    justify-content: center;
  }
}
