$font-ar: "Suisse-R";
$font-en: "Suisse-R";

$font-path: "../fonts/";
$img-path: "../images/";

// colors

$p-color: #5E6065;

$gray-color:#7d7d7d;
$dark-blue1:#3F0C55;
$dark-blue2:#080031;






$main-color:#756A64;
$green-color:#887852;
$green-color2:#076B40;
$titleColor: #303030;
$white: #ffffff;

$grey:#DEDEDE;
$grey2:#BBB6AC;
$grey3:#E3E3E3;
$grey4:#636569;
$greyBg:#F5F5F5;


$theme-colors: (
  // "primary": $primary-color,
  // "warning": $orange-color,
  // "success": $green-color,
  // "gray": $gray-color,
  // "red": $red-color
);

// font weight
$w-thin: 100; // (Hairline)
$w-extra-light: 200; // (Ultra Light)
$w-light: 300;
$w-normal: 400; // (Regular)
$w-medium: 500;
$w-semi-bold: 600; // (Semi Bold)
$w-bold: 700;
$w-extra-bold: 800; // (Ultra Bold)
$w-black: 900; //(Heavy)



//more 

$raduis-normal : 8px;